@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&family=Montserrat:wght@400;700&display=swap');

:root {
    /* Paleta de cores */
    --light: #E9ECEF;
    --grey: rgba(255, 255, 255, 0.548);
    --lightgrey: #E8E8E8;
    --cyan: #54CC94;
    --lightblue: #1672db;
    --blue: #1454a8;
    --darkblue: #182944;
    --dark: rgb(2, 2, 29);
    --red: #D62516;
    --orange: #ff0000;
    /* fonts */
    --lato: 'Lato', sans-serif;
    --montserrat: 'Montserrat', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

/* header selectors */

header {
    background-color: var(--darkblue);
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    
}

nav {
    display: flex;
    margin: auto;
    padding: 8px 16px;
    align-items: center;
    justify-content: center;
}

.hamburger div{
    width: 32px;
    height: 2px;
    background-color:grey;
    margin: 8px;
    border-radius: 30px;
}

ul {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-around;
}

.links {
    display: flex;
}

.links * a:hover {
    color: white;
}

.links__main {
    display: flex;
}

.links__item {
    text-decoration: none;
    transition-duration: 0.15s;
    color: var(--grey);
    padding: 23px;
}

#links__signup {
    position: absolute;
    right: 15px;
    top: 27px;
    color: var(--grey);
    padding: 8px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.15s;
}

#links__signup:hover {
    color: white;
}

.hamburger {
    cursor: pointer;
    background-color: var(--darkblue);
    height: 40px;
    border: rgba(128, 128, 128, 0.534) solid 1px;
    border-radius: 3px;
    position: absolute;
    right: 15px;
    top: 20px;
    display: none;
}

/* MAIN SELECTORS */

main {
    font-family: var(--montserrat);
}

hr {
    background-color: #fff;
    border: none;
    height: 0;
    opacity: 0.35;
    height: 0.5px;
    margin: 12px 12px;
}

form {
    display: flex;
    flex-direction: column;
}

i {
    padding-right: 13px;
}

label {
    display: flex;
    margin-bottom: 4px;
}

form button {
    background-color: var(--red);
    color: white;
    border: none;
    border-radius: 2px;
    margin-bottom: 7px;
    padding: 10px 12px;
    font-family: var(--lato);
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    transition-duration: 0.5s;
}

form button:hover {
    background-color: var(--orange);
}

.second-form {
    display: none;
    transition-duration: 2s;
}

.form {
    display: none;
    transition: opacity 2s ease-in-out;
}

.form.is-active {
    display: block;
    opacity: 1;
}

.inputs__item {
    flex-grow: 1;
    font-size: 16px;
    width: 70px;
    border-radius: 0px 5px 5px 0px;
    padding: 6px 12px;
    border: 1px solid;
    border-color: #ced4da;
}

.dark {
    display: flex;
    justify-content: center;
    padding: 96px 0px;
    align-items: start;
    background-color: var(--darkblue);
    color: white;
}

.light {
    padding: 48px 0px;
}

.grey {
    background-color: var(--lightgrey);
    padding: 48px 0px;
}

.transition {
    padding: 0 15px;
    height: 96px;
}

.description-one {
    display: flex;
    justify-content: center;
    align-items: center;
}

.description-two {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    display: flex;
    flex-direction: column;
    max-width: 570px;
    padding: 0px 15px;
    flex-grow: 1;
}

.left {
    display: flex;
    flex-direction: column;
    max-width: 570px;
    text-align: right;
    padding: 0px 15px;
    flex-grow: 1;
}

#optional-content__title {
    color: white;
    font-size: 24px;
}

.optional-content__line {
    color: var(--light);
}

.prasentation {
    font-family: var(--lato);
    max-width: 634px;
    padding: 0px 15px;
    flex-grow: 1;
}

.begin {
    font-family: var(--lato);
    max-width: 445px;
    padding: 0px 15px;
    flex-grow: 1;
}

.inputs__label-form {
    display: block;
    background-color: var(--light);
    color: #000000;
    width: 45px;
    padding: 10px 16px;
    border: 1px solid;
    border-color: #ced4da;
    border-radius: 0.25rem;
}

.small-title {
    padding: 24px 0px;
}

.small-title h2 {
    font-size: 32px;
    margin-bottom: 8px;
    font-family: var(--montserrat);
    font-weight: lighter;
    text-transform: uppercase;
}

.small-description {
    margin-bottom: 16px;
}

.small-description p {
    font-family: var(--lato);
    font-size: 19px;
    margin-bottom: 16px;
}

.cite {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
}
.cite__identity {
    display: flex;
    justify-content: flex-start;
    padding-left: 8px;
    flex-direction: column;
    align-items: center;
    font-family: var(--lato);
} 

.cite__identity img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 8px;
}

.cite__name {
    font-family: var(--lato);
    font-size: 16px;
}

.cite blockquote {
    padding: 4px 0px 4px 16px;
    line-height: 1.5;
    font-family: var(--lato);
    font-size: 16px;
    font-style: italic;
}

.small-text {
    align-items: center;
}

.description-button {  
    color: white;
    cursor: pointer;
    height: 50px;
    border: none;
    border-radius: 25px;
    padding: 8px 16px;
    font-family: var(--montserrat);
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}

#learn {
    background-color: var(--darkblue);
    transition-duration: 0.15s;
}

#buy {
    background-color: var(--orange);
    transition-duration: 0.15s;
}

#learn:hover {
    background-color: var(--dark);
}

#buy:hover {
    background-color: var(--red);
}

.optional-content__link {
    text-decoration: underline;
    padding-left: 5px;
    transition-duration: 0.15s;
}

.optional-content__link:hover {
    color: white;
}

#lost-password {
    margin-bottom: 25px;
}

#welcome {
    font-size: 20px;
}

.prasentation__title {
    color:white;
    font-family: var(--montserrat);
    font-size: 64px;
    font-weight: lighter;
    margin-bottom: 16px;
}

#presentation__traders {
    color: var(--cyan);
    font-weight: bold;
}

.prasentation__paragraph {
    font-size: 28px;
    margin-bottom: 6px;
}

#access {
    align-items: center;
}

#access a {
    color: white;
    border-radius: 2px;
    font-family: var(--lato);
    text-align: center;
}

#access p {
    text-align: center;
}

#medias__facebook {
    background-color: var(--lightblue);
    margin-right: 3px;
    transition-duration: 0.5s;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}

#medias__facebook:hover {
    background-color: var(--blue);
    text-decoration: underline;
}

#medias__google {
    background-color: var(--orange);
    margin-left: 3px;
    transition-duration: 0.5s;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

#medias__google:hover {
    background-color: var(--red);
    text-decoration: underline;
}

.optional-content {
    margin: 0px 0px 10px 0px;
    font-family: var(--lato);
    font-weight: normal;
    text-align: center;
}

.optional-content--flex {
    display: flex;
    justify-content: center;
}

#optional-content__text {
    margin: none;
    font-size: 24px;
    font-family: var(--lato);
    font-weight: normal;
    text-align: center;
}

#medias {
    display: flex;
    margin: 0px 0px 10px 0px;
}

#medias a {
    flex-grow: 1;
    padding: 10px 12px;
    text-decoration: none;
}

@media (max-width: 1046px) {

    .nav {
        justify-content: space-between;
    }

    .logo {
        padding: 6px 0px;
    }

    .dark {
        padding: 48px 0px;
        text-align: center;
    }

    .nav-mother {
        flex-direction: column;
        align-content: flex-start;
    }

    .nav, ul{
        flex-direction: column;
    }

    ul li {
        padding: 7.5px 0px;
    }

    .links {
        display: none;
        flex-direction: column;
    }

    .links__main {
        flex-direction: column;
        text-align: center;
    }

    .linkBox {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #links__signup {
        position: unset;
    }

    .hamburger {
        display: block;
    }

    .begin {
        display: none;
    }

    .description-one {
        display: flex;
        flex-direction: column;
    }

    .description-one .right {
        order: -1;
    }

    .description-two {
        display: flex;
        flex-direction: column;
    }

}

@media (max-width: 600px) {

    .right, .left {
        text-align: left;
        flex-grow: unset;
    }

    .cite {
        display: flex;
        flex-direction: column;
    }

    .identity {
        order: 1;
    }
}